[mysqld] # Setting for mysql server.
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci # Ignore lower/upper case of alphabet. 


[client] # Setting for mysql client tool.
default-character-set=utf8mb4
